In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
import os
import random

from plotly import express as px

In [2]:
train, test = pd.read_parquet(os.getcwd() + "\\data\\train.pqt"), pd.read_parquet(os.getcwd() + "\\data\\test.pqt")
train.columns, test.columns = ["userid", "productid", "timestamp", "type"], ["userid", "productid", "timestamp", "type"]
train, test = train.sort_values(['userid', "timestamp"]).reset_index(drop=True), test.sort_values(['userid', "timestamp"]).reset_index(drop=True)

timeout = int(5 * 60 * 1e6)  # 5 min timer for session length
train["new_session"] = ((train.timestamp.diff() > timeout) | (train.userid.diff() != 0)).astype("int")
train["session"] = train.groupby("userid").new_session.cumsum() - 1
train = train.drop("new_session", axis=1)
train["usersession"] = train.userid.astype(str) + "_" + train.session.astype(str)

test["new_session"] = ((test.timestamp.diff() > timeout) | (test.userid.diff() != 0)).astype("int")
test["session"] = test.groupby("userid").new_session.cumsum() - 1
test = test.drop("new_session", axis=1)
test["usersession"] = test.userid.astype(str) + "_" + test.session.astype(str)

In [3]:
train

          userid  productid      timestamp    type  session usersession
0              0    1517085  1659304800025  clicks        0         0_0
1              0    1563459  1659304904511  clicks        0         0_0
2              0    1309446  1659367439426  clicks        0         0_0
3              0      16246  1659367719997  clicks        0         0_0
4              0    1781822  1659367871344  clicks        0         0_0
...          ...        ...            ...     ...      ...         ...
10285556  199999     928064  1659336408967  clicks        0    199999_0
10285557  199999     849970  1659336449078  clicks        0    199999_0
10285558  199999    1052480  1659336547035  clicks        0    199999_0
10285559  199999     487255  1659336561116  clicks        0    199999_0
10285560  199999    1138833  1659336575075  clicks        0    199999_0

[10285561 rows x 6 columns]

In [8]:
train.loc[train.usersession=="0_0"]

     userid  productid      timestamp    type  session usersession
0         0    1517085  1659304800025  clicks        0         0_0
1         0    1563459  1659304904511  clicks        0         0_0
2         0    1309446  1659367439426  clicks        0         0_0
3         0      16246  1659367719997  clicks        0         0_0
4         0    1781822  1659367871344  clicks        0         0_0
..      ...        ...            ...     ...      ...         ...
271       0     843110  1661684298768  clicks        0         0_0
272       0     938007  1661684355390  clicks        0         0_0
273       0    1228848  1661684528943  clicks        0         0_0
274       0    1740927  1661684942173  clicks        0         0_0
275       0     161938  1661684983707  clicks        0         0_0

[276 rows x 6 columns]